body {
	background-color: #059378;
}

section {
	margin: 0;
	padding: 40px 20px 0 20px;
	height: 90vh;
	
	
	display: grid;
	grid-template-columns: 12px 1fr 12px;
	grid-template-rows: auto 12px 1fr;
}

section div {
	grid-column-start: 2;
}

section p {
	grid-column-start: 2;
	grid-row-start: 3;
	
	font-family: degular, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 17px;
	line-height: 24px;
	letter-spacing: 1.1px;
	
}

section p a {
	text-decoration: underline;
}

section p a:hover {
	opacity: .6;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
}

section a {
	text-decoration: none;
	color: #000;
}

section h2 {
	text-align: left;
	font-family: degular-display, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 48px;
	letter-spacing: 0.8px;
	line-height: 45px;
	margin-bottom: 20px;
}

section ul {
	display:inline;
	
}

section ul li:after {
	content: "|";
	padding: 0 16px;
	color: inherit;
}



section ul li {
	grid-row-start: 3;
	margin-bottom: 6px;
}

section ul li.full {
	width: 100%;
}

section ul li.full:after {
	content: "";
}


section ul li:last-of-type:after {
	content: "";
	
}

section ul li {
	font-family: henderson-sans-basic, sans-serif;
	font-style: normal;
	font-weight: 600;
	float: left;
}

section ul li:hover a {
	opacity: .6;
}


@media (min-width: 600px) {
	section {
		padding: 40px 30px 0 30px;
		height: auto;
		min-height: 33vh;
		grid-template-columns: 12px 1fr 12px 1fr 12px;
		grid-template-rows: auto;
		padding-bottom: 30px;
	}
	
	section p {
		grid-column-start: 4;
		grid-row-start: 1;
	}
	
	section ul {
		display: grid;
		grid-template-columns: repeat(2, auto) 1fr;
		grid-template-rows: auto
	}
	
	section ul li {
		grid-row-start: 1;
	}
	
	section ul li:nth-of-type(1):after {
		content: "|";
	}
	
	section ul li:last-of-type:after {
		content: "";
	}
	
	section ul li:nth-of-type(3) {
		grid-row-start: auto;
	}
}

main h2 {
	font-family: degular, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
}


main h1 {
	color: #A4D0D3;
	font-family: henderson-sans-basic, sans-serif;
	font-style: normal;
	font-weight: 200;
}


footer {
	margin: 0;
	padding: 30px;
	height: 90vh;
	
	display: grid;
	grid-template-columns: 12px 1fr 12px;
	
	
	text-align: center;
	
}

footer #contact {
	grid-row-start: 3;
	grid-column-start: 2;
	align-self: end;
	display: none;
	text-align: center;
}
footer h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #ABCEBC;
}

footer #quote {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	text-align: center;
	color: #000;
	align-self: center;
}

footer #quote p {
	color: #000;
	text-decoration: none;
	font-family: degular, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	
}

footer #quote a {
	font-family: henderson-sans-basic, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .8px;
}

footer ul a {
	color: #FCB7A7;
	text-decoration: none;
}

@media (min-width: 600px) {
	footer {
		height: auto;
		min-height: 26vh;
		grid-template-columns: 12px 1fr 1fr 1fr 12px;
		grid-template-rows: auto;
		padding: 30px;
		text-align: left;
		color: #FCB7A7;
		
	}
	
	footer h2 {
		text-align: left;
	}
	
	footer #contact {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-column-end: 5;
		display: block;
		
	}
	
	footer #contact ul {
		display: grid;
		grid-template-columns: auto 1fr auto auto auto;
	}
	
	footer #contact ul li {
		padding: 0 0 0 40px;	
	}
	
	footer #contact li:first-of-type {
		grid-column-start: 1;
		padding: 0;
	}
	
	footer #contact li:nth-of-type(4) {
		grid-column-start: 5;
	}
	
	footer #contact li:nth-of-type(2) {
		grid-column-start: 3;
	}
	
	footer #contact li:nth-of-type(3) {
		grid-column-start: 4;
	}
	
	footer #quote {
		grid-column-start: 3;
		grid-column-end: auto;
		grid-row-start: 1;
		min-width: 600px;
		padding: 30px 0 30px 0;
	}
}




#top-bar {
	width: 100%;
	position: fixed;
	overflow: hidden;
	top: 0;
	height: 36px;
	background-color: #059378;
	z-index: 1000;
	transform: translateY(-40px);
	transition: all .25s ease;
}

#top-bar.visible {
	transform: translateY(0);
}

#top-bar h1 {
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 8px;
}


#bottom-bar {
	width: 100%;
	position: fixed;
	overflow: hidden;
	bottom: 0;
	height: 30px;
	background-color: #059378;
	z-index: 1000;
	transform: translateY(40px);
	transition: all .25s ease;
}

#bottom-bar.visible {
	transform: translateY(0);
}

#bottom-bar ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	list-style-type: none;
	text-align: center;
	margin-top: 6px;
}

#bottom-bar ul a {
	color: #FCB7A7;
	text-decoration: none;
	font-size: 13px;
}

#bottom-bar ul li:first-of-type {
	grid-column-start: 2
}

@media (min-width: 600px) {
	
	#top-bar,
	#bottom-bar {
		display: none;
	}
}

/* html {
	cursor: none;
}

a {
	cursor: none;
} */

.section {
	position: relative;
}

.cursor-hold {
	top: 0;
	position: fixed;
	width: clamp(1.2rem,3vw,3rem);
	height: clamp(1.2rem,3vw,3rem);
	pointer-events: none;
	will-change: transform;
	mix-blend-mode: difference;
	transition: .15s height,.15s width,.15s opacity;
	transform: translate3d(var(--x), var(--y), 0);
}

[data-project="reveal"]:hover .cursor-hold .cursor {
	transform: translate(-50%,-50%);
	background: #fff;
	height: inherit;
	width: inherit;
	border-radius: 50%;
}

[data-project="reveal"],
[data-project="reveal"] a {
	cursor: none;
}

[data-project="reveal"] {
	overflow: hidden;
}

/* [data-project="reveal"]:before {
  content:"";
  position:absolute;
  z-index:999;
  top:var(--y);
  left:var(--x);
  right:0;
  bottom:0; 
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  transform:translate(-50%,-50%);
  background:#fff;
  mix-blend-mode:difference;
  cursor: none;
} */

[data-project="dts"] div,
[data-project="dts"] p {
	z-index: 100;
}

[data-project="dts"] .coin-grid {
	position: absolute;
	top: 0;
	left: -42px;
	width: 100vw;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(20, 5vw);
	grid-template-rows: repeat(10, 3.8vh);
	z-index: 200;
	pointer-events:none;
	padding: 12px;
}

.coin-grid .coin {
	width: 50px;
	height: 50px;
	z-index: 200;
	pointer-events: auto;
	
	grid-row-start: 2;
	grid-column-start: 9;
	
}

.coin-grid .coin.collected {
	display: none;
}

.coin-grid .coin:nth-of-type(2) {
	grid-row-start: 1;
	grid-column-start: 3;
}

.coin-grid .coin:nth-of-type(3) {
	grid-row-start: 8;
	grid-column-start: 5;
}

.coin-grid .coin:nth-of-type(4) {
	grid-row-start: 1;
	grid-column-start: 18;
}

.coin-grid .coin:nth-of-type(5) {
	grid-row-start: 6;
	grid-column-start: 2;
}

.coin-grid .coin:nth-of-type(6) {
	grid-row-start: 8;
	grid-column-start: 14;
}